.carousel-item {
height: 100vh;
min-height: 350px;
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.heroOverlay {
  z-index: 12;
  position: absolute;
  top: 30%;
  left: 0px;
  right: 0px;
  margin: auto auto 0 10%;
  width:80%;
  padding: 30px 0;
}

.heroOverlay h1 {
  font-size: 2vw;
  text-align: center;
  color: #fff;
}
.btn {
  display: inline-block;
  width: 200px;
  padding: .2em;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  border: 3px solid #fff;
  border-radius: 20px;
}
.btn:hover {
  background-color: #fff;
  color:rgba(0,0,0,1);
  text-decoration: none;
  font-size: 1em;
  border: 3px solid #fff;
}
